<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Log List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">User Management Application</a>
    
    <div class="collapse navbar-collapse">

      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/login">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/user">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/log">Log</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Adres
          </a>
          <ul class="dropdown-menu dropdown-menu">
            <li><a class="nav-link" href="http://localhost:3000/addressAdd">Adres Ekle</a></li>
            <li><a class="nav-link" href="http://localhost:3000/address">Adres Düzenle</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="text-right">
      <a href="https://www.linkedin.com/in/fatiihaydn/">Hakkında</a>
      <a href="https://web.whatsapp.com/send?text=Selam&phone=+905364934599">İletişim</a>
    </div>
  </nav>

  </br>
  </br>
  
  <h3 class="text-center">Log List</h3>


  </br>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <table id="loglist" class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" scope="col">ID</th>
            <th class="text-center" scope="col">Type</th>
            <th class="text-center" scope="col">İşlemi Yapan Kullanıcı</th>
            <th class="text-center" scope="col">Date</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>


    <div class="col-md-2">

    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="../../files/js/log.js"></script>
</body>

</html>