<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  </br>
  </br>
  <h3 class="text-center">User List</h3>


  </br>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <table id="userlist" class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" scope="col">ID</th>
            <th class="text-center" scope="col">FirstName</th>
            <th class="text-center" scope="col">LastName</th>
            <th class="text-center" scope="col">E-mail</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

      <button class="btn btn-light btn-right">
        <a href="http://localhost:3000/login">Login</a>
      </button>
    </div>


    <div class="col-md-2">

    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="../../files/js/user.js"></script>
</body>

</html>